.container {
  padding: 50px 0;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  background-color: rgb(238, 252, 255);
  min-height: 80vh;
}

.heading {
  margin: 0 auto;
  max-width: 500px;
  color: #000;
  font-size: 3rem;
  line-height: 4.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.heading span {
  background-clip: text;
  background-image: linear-gradient(to right, #239ce2, #1369b9);
  color: transparent;
}

.right img {
  width: 400px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left button {
  margin: 2rem 0;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #239ce2;
  color: #fff;
  outline: none;
  border: none;
  font-weight: bolder;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 400px) {

  .heading {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .container {
    padding: 50px 20px;
    width: auto;
  }

  .left button {
    font-size: 1.2rem;
  }

  .right img {
    width: 250px;
  }

}